In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../data/processed/bus_delay_dataset.csv")
print("Dataset shape:", df.shape)
df.head()

Dataset shape: (5317023, 14)

,trip_id,route_id,route_short_name,stop_id,stop_name,stop_lat,stop_lon,stop_sequence,scheduled_arrival_time,scheduled_departure_time,day_of_week,hour_of_day,holiday_flag,delay_minutes
0,142_19_53,142,NaN,146.0,Najafgarh Terminal,28.615127,76.977508,0,19:53:00,19:53:00,6,19,0,-1.69
1,142_19_53,142,NaN,148.0,Jharoda Crossing,28.614413,76.981070,1,19:54:25,19:54:25,3,19,0,-13.35
2,142_19_53,142,NaN,149.0,Health Centre,28.614155,76.985213,2,19:56:03,19:56:03,4,19,0,-8.26
3,142_19_53,142,NaN,488.0,Najafgarh Delhi Gate,28.611746,76.985721,3,19:57:08,19:57:08,6,19,1,10.11
4,142_19_53,142,NaN,233.0,Police Station Najafgarh,28.610319,76.981338,4,19:58:58,19:58:58,2,19,0,2.23

In [3]:
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5317023 entries, 0 to 5317022
Data columns (total 14 columns):
 #   Column                    Dtype
---  ------                    -----
 0   trip_id                   object
 1   route_id                  int64
 2   route_short_name          float64
 3   stop_id                   float64
 4   stop_name                 object
 5   stop_lat                  float64
 6   stop_lon                  float64
 7   stop_sequence             int64
 8   scheduled_arrival_time    object
 9   scheduled_departure_time  object
 10  day_of_week               int64
 11  hour_of_day               int64
 12  holiday_flag              int64
 13  delay_minutes             float64
dtypes: float64(5), int64(5), object(4)
memory usage: 567.9+ MB

,trip_id,route_id,route_short_name,stop_id,stop_name,stop_lat,stop_lon,stop_sequence,scheduled_arrival_time,scheduled_departure_time,day_of_week,hour_of_day,holiday_flag,delay_minutes
count,5317023,5.317023e+06,0.0,5.317023e+06,5317023,5.317023e+06,5.317023e+06,5.317023e+06,5317023,5317023,5.317023e+06,5.317023e+06,5.317023e+06,5.317023e+06
unique,131997,NaN,NaN,NaN,4057,NaN,NaN,NaN,85562,85562,NaN,NaN,NaN,NaN
top,5428_19_24,NaN,NaN,NaN,ISBT Nityanand Marg,NaN,NaN,NaN,08:00:00,08:00:00,NaN,NaN,NaN,NaN
freq,169,NaN,NaN,NaN,17493,NaN,NaN,NaN,588,588,NaN,NaN,NaN,NaN
mean,NaN,4.055542e+03,NaN,6.854282e+03,NaN,2.864257e+01,7.716411e+01,2.319995e+01,NaN,NaN,3.000443e+00,1.374153e+01,5.003740e-02,-7.772789e-04
std,NaN,3.182375e+03,NaN,5.494693e+03,NaN,6.811588e-02,9.295972e-02,1.701050e+01,NaN,NaN,1.999875e+00,5.098486e+00,2.180222e-01,8.659070e+00
min,NaN,0.000000e+00,NaN,0.000000e+00,NaN,2.841665e+01,7.684277e+01,0.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,-1.500000e+01
25%,NaN,1.140000e+03,NaN,1.405000e+03,NaN,2.859940e+01,7.709706e+01,1.000000e+01,NaN,NaN,1.000000e+00,9.000000e+00,0.000000e+00,-7.500000e+00
50%,NaN,5.087000e+03,NaN,4.904000e+03,NaN,2.863997e+01,7.717436e+01,2.100000e+01,NaN,NaN,3.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00
75%,NaN,5.684000e+03,NaN,1.165400e+04,NaN,2.868378e+01,7.723008e+01,3.400000e+01,NaN,NaN,5.000000e+00,1.800000e+01,0.000000e+00,7.500000e+00
max,NaN,1.038500e+04,NaN,2.250700e+04,NaN,2.887187e+01,7.741455e+01,1.680000e+02,NaN,NaN,6.000000e+00,2.300000e+01,1.000000e+00,1.500000e+01

In [4]:
print("Unique trip_id count:", df['trip_id'].nunique())

df['trip_id'].value_counts().head()

Unique trip_id count: 131997

trip_id
5428_19_24    169
5428_05_25    169
5428_11_50    169
5428_12_20    169
5428_14_40    169
Name: count, dtype: int64

In [5]:
trip_ids = df['trip_id'].unique()

train_ids, temp_ids = train_test_split(trip_ids, test_size=0.2, random_state=42)

val_ids, test_ids = train_test_split(temp_ids, test_size=0.5, random_state=42)

print("Train IDs:", len(train_ids))
print("Validation IDs:", len(val_ids))
print("Test IDs:", len(test_ids))

Train IDs: 105597
Validation IDs: 13200
Test IDs: 13200

In [6]:
train_df = df[df['trip_id'].isin(train_ids)]
val_df   = df[df['trip_id'].isin(val_ids)]
test_df  = df[df['trip_id'].isin(test_ids)]

print("Train shape:", train_df.shape)
print("Validation shape:", val_df.shape)
print("Test shape:", test_df.shape)

Train shape: (4253927, 14)
Validation shape: (531537, 14)
Test shape: (531559, 14)

In [7]:
train_df.to_csv("../data/processed/train.csv", index=False)
val_df.to_csv("../data/processed/val.csv", index=False)
test_df.to_csv("../data/processed/test.csv", index=False)

print("Datasets saved in ../data/processed/ as train.csv, val.csv, test.csv")

Datasets saved in ../data/processed/ as train.csv, val.csv, test.csv